/includes/Pictures/
/includes/RCF/
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/Proj3_SegmentTThWaterShed.iml
/.idea/vcs.xml
/test.tif
/Shape_test2/
